/firmware/GHG_App_EFM.X/.generated_files
/firmware/GHG_App_EFM.X/build
/firmware/GHG_App_EFM.X/debug
/firmware/GHG_App_EFM.X/dist
/firmware/GHG_App_EFM.X/nbproject/Makefile-genesis.properties
/firmware/GHG_App_EFM.X/nbproject/Makefile-impl.mk 
/firmware/GHG_App_EFM.X/nbproject/Makefile-local-pic32mz.mk 
/firmware/GHG_App_EFM.X/nbproject/Makefile-pic32mz.mk 
/firmware/GHG_App_EFM.X/nbproject/Makefile-variables.mk 
/firmware/GHG_App_EFG.X/.generated_files
/firmware/GHG_App_EFG.X/build
/firmware/GHG_App_EFG.X/debug
/firmware/GHG_App_EFG.X/dist
/firmware/GHG_App_EFG.X/nbproject/Makefile-genesis.properties
/firmware/GHG_App_EFG.X/nbproject/Makefile-impl.mk 
/firmware/GHG_App_EFG.X/nbproject/Makefile-local-pic32mz.mk 
/firmware/GHG_App_EFG.X/nbproject/Makefile-pic32mz.mk 
/firmware/GHG_App_EFG.X/nbproject/Makefile-variables.mk 
/firmware/build
/firmware/test/simulation/out.txt
.vscode